
.fixed {
  position: fixed;
  width: 100%;
  height: fit-content;
  background-color: white;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* add shadow */
    padding: 0 1.6rem;
    justify-content: space-between;

    .headerSide {
      flex: 2;
    }
  }
}


